.product {
	width: 33.3333%;
}

.popular{
	width: 100%;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center; /* Safari */
	justify-content: center;

}

figure{
	width: 280px;
	height: 350px;
	display: inline-block; 
	text-align: center;
	margin: 10px 10px; 
	box-shadow: 0 0 10px rgba(136, 134, 134, 0.5);
	
}
figure:hover{
	box-shadow: 0 0 10px rgba(71, 70, 70, 0.5);
}
figure p {
	text-align: center;
	
}
figcaption b{
	font-size: 12px;
}
figcaption{
	text-align: center;
	font-size: 12px;
	
	/* margin: 0 5%; */
}
.right_part{
	border-right: 5px ;
	padding-right: 30px;
	width: 15%;
	border-right: 2px solid #e9168c;
}

.main_part{
	padding-left: 20px;
	width: 85%;
}

.prod_img{
	width: 80%;
}

.prod_name{
	font-size: 40px;
}

.color_list{
	margin: 20px 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: left; /* Safari */
	justify-content: left;
}

select{
	height: 50px;
	width: 200px;
}

.colors{
	width: 20%;
	margin: 10px;
}
#chosen{
	box-shadow: 0 0 10px rgba(240, 35, 154, 0.5);
	width: 20%;
	margin: 10px;
}

.main_cart{
	margin: 0 10%;
	padding: 50px 0;
}