
{% extends "base.html" %}


{% block content %}
<div class="main_block">
    <div class="right_part">
        <p><b>КATAЛОГ</b></p>
        <hr>
        {% for categor in categories %}
        <p><a class="link_white" style="font-size: 12px;" href="{{ url_for('catalog', start = categor.CategorieID|string) }}">{{categor.Name}}</a></p>
        {% endfor %}
       
    </div>
    <div class="main_part">
            <div class="popular">
                <div style="width: 100%;">
                    <form action="" method="post" >
                            {{ form.hidden_tag() }}
                            <p>
                                {{ form.sort.label }}  
                                {{ form.sort}}
                                {{ form.submit() }}
                            </p>
                           
                    </form>
                </div>

                    {% for product in products %}

                        
                            <div class="product">
                                <a class="link_white" href="{{ url_for('prod', ProductID = product.ProductID|string) }}">
                                <figure>
                                    <p><img src="{{ url_for('static', filename='img/product/' + product.ProductID|string + '.png') }}" alt="помады" class="prod_pic"></p>
                                    <figcaption ><b>{{product.NameProduct }}</b><br>{{product.Price}} грн</figcaption>
                                </figure></a>
                            </div>
                        
                         
                    {% endfor %}
            </div>
    </div>

   
</div>
{% endblock %}