{% extends "base.html" %}

{% block content %}
  
    <div >
        <div>
            <img id="slider" src="static/img/slider.jpg">
        </div> 
        <div class="main_">  
        <h2 id="pop"><a name="pop"></a>ПОПУЛЯРНОЕ</h2>
        <hr style="color:#837f7f;clear: both;">
        <div class="popular">
            {% for product in products %}     
                <div class="product">
                    <a class="link_white" href="{{ url_for('prod', ProductID = product.ProductID|string) }}">
                    <figure>
                        <p><img src="{{ url_for('static', filename='img/product/' + product.ProductID|string + '.png') }}" alt="помады" class="prod_pic"></p>
                        <figcaption><b>{{product.NameProduct }}</b><br>{{product.Price}} грн</figcaption>
                    </figure></a>
                </div>
            {% endfor %}
        </div>
        <p style="text-align: center;"><a style="color: #FD03A6;" href="{{ url_for('catalog', start='0') }}">Показать больше...</a></p>
        <hr style="color:#837f7f;clear: both; margin-top: 20px;">
        </div> 
    </div>
    
{% endblock %}