{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<div class="main_block">
    <div class="prod_main" >
            <p style="text-align: center;"><img class="prod_img" src="{{ url_for('static', filename='img/product/color/' + color_choose|string + '.png') }}" alt="помады"></p>
    </div>
    <div>
        <p class="prod_name">{{product[0].NameProduct}}</p>
        <b class="pink">{{product[0].Price}} грн</b>
        <p  id="prod_page_pic" ><img class="prod_img" src="{{ url_for('static', filename='img/product/color/' + color_choose|string + '.png') }}" alt="помады"></p>
        <div class="color_list">
        {% for color in colors %}
        {% if color.ColorID==color_choose %}
        <div id="chosen" > 
        {% else %}  
        <div class="colors"> {% endif %}
            <a  class="link_white" href="{{ url_for('prod', ProductID=product[0].ProductID , color = color.ColorID|string) }}">
            <img  src="{{ url_for('static', filename='img/product/color/' + color.ColorID|string + '.png') }}" width="100%"></a>
        </div>
        {% endfor %}
        </div>
        {% for color in colors %} 
        {% if color.ColorID==color_choose %}
        <p>ЦВЕТ: {{color.Name}}</p> {% else %}{% endif %}
        {% endfor %}
        
        <form action="" method="post" width=100%>
           
            <p>
                {{ form.amont.label }}
                {{ form.amont(value=1) }}<br>
            </p>
            <p> {{form.csrf_token}}
                {{ form.submit() }}</p>
        </form> 
        <p style="margin-top: 50px">ОПИСАНИЕ</p>    
        <p style="font-size: 14px;">{{product[0].Description}}</p>
        
    </div>

</div>

{% endblock %}