
{% extends "base.html" %}

{% block content %}

<div class="main_cart" >
	{% if count==0 %}
	<b style="font-size: 32px; margin-bottom: 20px;" >ВАША КОРЗИНА ПУСТАЯ</b>
	{% else %}
	<b style="font-size: 32px; margin-bottom: 20px;" >ВАША КОРЗИНА</b>
	<p style="text-align:right;"><a style="color: #FD03A6;" href="{{ url_for('catalog', start='0') }}">Продолжить смотреть товары</a></p>
	<div class="list">
		<table>
			{% for product in products %}
			<tr >
				<td style="width: 10%;"><p><a href="{{ url_for('prod', ProductID = product.ProductID|string) }}"><img src="{{ url_for('static', filename='img/product/' + product.ProductID|string + '.png') }}" width="100px"></a></p></td>
				<td style="width: 50%;"><p><a class="link_white" href="{{ url_for('prod', ProductID = product.ProductID|string) }}">{{product.NameProduct}}</a></p>
					<p style="font-weight:100;">ЦВЕТ: {{product.Color}}</p></td>
				<td style="width: 20%;">Количество: {{product.Amont}}</td>
				<td style="width: 10%;"><b>{{product.Price}} грн</b></td>
				<td style="width: 10%; text-align: right;"><a style="text-align: right; color:  #FD03A6;" href="{{ url_for('removeFromCart', ID = product.OrdID|string) }}">Удалить</a></td>
			</tr>
			{% endfor %}
		</table>
		
		<div style="margin: 30px 0;">
			<b >ИТОГО К ОПЛАТЕ: {{totalPrice}} грн</b>
		</div>
		<div class="div_buttom"><a style="color: white; margin: 20%;" href="{{ url_for('checkout') }}">ОФОРМИТЬ ЗАКАЗ</a></div>
	</div>
	{% endif %}
</div>

{% endblock %}