<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>NYX/singup</title>
        <link href="../static/style/main.css" rel="stylesheet">
    </head>
    <body>
      <header class="black">
        
          <div class="container">
            <div class="h_row">
              <div class="h_col1_1"><p class="pink">БЕСПЛАТНАЯ ДОСТАВКА <b>ПРИ ЗАКАЗЕ ОТ 700 ГРН</b></p></div>
              <div class="h_col1_2"><p><a href=#>Войти</a>|<a href=#>Pегестрация</a></p></div> 
            </div>
            <div class="h_row">
              <div class="h_col2_1">
                 <p ><b>+38 (044) 233-25-88</b> <a class="pink">   ОБРАТНЫЙ ЗВОНОК</a><br>
                  <b>+38 (063) 233-25-88</b> <a id="tooltip" href="#">ГРАФИК РАБОТЫ<span>ПН-ПТ С 9:00 ДО 18:30</span></a></p>
              </div>
              <div class="h_col2_2">
                 <img src="https://nyxcosmetic.com.ua/skin/nyx/images/logo.png" width="60%">
              </div>
              <div class="h_col2_3">
                 <form>
                    <p><input  type="search" name="q" placeholder="Поиск по сайту"> 
                   <input type="image" src="../static/img/search.png" salt="Поиск"></p>
                </form>
              </div>
            </div>
            
        </div>
        
        </div>
            <div  style="width: 100%">
            <nav class="menu_list">
                
                <ul id="my-drop-down-menu">
                    <li class="list"><a href="#pop">ПОПУЛЯРНОЕ</a></li>
                    <li><a href="https://www.google.com.ua/?hl=ru">ГУБЫ</a>
                        <ul class="submenu">
                          <li><a  href="#">ПОМАДЫ</a></li>
                          <li><a  href="#">БЛЕСКИ ДЛЯ ГУБ</a></li>
                          <li><a  href="#">КАРАНДАШИ ДЛЯ ГУБ</a></li>
                          <li><a  href="#">УХОД ДЛЯ ГУБ</a></li>
                        </ul>
                    </li>
                    <li class="list"><a href="https://www.google.com.ua/?hl=ru">ЛИЦО</a>
                        <ul class="submenu">
                          <li><a  href="#">ПУДРЫ</a></li>
                          <li><a  href="#">ТОНАЛЬНЫЕ ОСНОВЫ</a></li>
                          <li><a  href="#">РУМЯНА</a></li>
                          <li><a  href="#">КОРЕКТОРЫ ДЛЯ ЛИЦА</a></li>
                          <li><a  href="#">БРОНЗИРУЮЩИЕ СРЕДСТВА</a></li>
                          <li><a  href="#">ХАЙЛАЙТЕРЫ</a></li>
                          <li><a  href="#">ПРАЙМЕРЫ</a></li>
                        </ul>
                    </li>
                    <li class="list"><a href="https://www.google.com.ua/?hl=ru">ГЛАЗА</a>
                        <ul class="submenu">
                          <li><a  href="#">ТЕНИ ДЛЯ ВЕК</a></li>
                          <li><a  href="#">ТУШЬ ДЛЯ РЕСТНИЦ</a></li>
                          <li><a  href="#">ПОДВОДКИ ДЛЯ ГЛАЗ</a></li>
                          <li><a  href="#">КАРАНДАШИ ДЛЯ ГЛАЗ</a></li>
                          <li><a  href="#">БАЗА ПОД ТЕНИ</a></li>
                          <li><a  href="#">СРЕДСТВА ДЛЯ БРОВЕЙ</a></li>
                        </ul>
                    </li>
                    <li class="list"><a href="https://www.google.com.ua/?hl=ru">АКСЕССУАРЫ И ПРОЧЕЕ</a>
                          <ul class="submenu">
                            <li><a  href="#">КИСТИ</a></li>
                            <li><a  href="#">СРЕДСТВА ДЛЯ ТЕЛА</a></li>
                            <li><a  href="#">ПОДАРОЧНЫЕ НАБОРЫ</a></li>

                          </ul>
                        </li>
                    <li id="pink"><a href=#>ГДЕ КУПИТЬ?</a></li>
                </ul>
            </nav>
            </div>
          
       
      </header>
      <main>
            <div>
                    <h1>Регестрация</h1>
                    <form class="form-signin">
                    <label for="inputName">Name</label>
                    <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
                     
                    <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
                  </form>
                  </div>
      </main>
    </body>
</html>